@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

html,body{
  height: 100%;
}

body{
  overflow:-scroll;
  overflow-y:hidden;
  overflow-x:hidden;
}
/*主盒子*/
.content{
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.1s linear;
  z-index: 1;
}
/*word宇设计的网站的头像*/
.big_head{
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 5;
  border-bottom: 2px solid white;
  background-color: rgba(0,0,0,0.1);
}

.big_head_icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/big_head_icon.png);
  background-size: 100% auto;
  margin: 10px auto;
}
/*解决点击return会弹出personal_statement的bug*/
.banClickTimes{
  width: 100%;
  height: 100%;
  z-index: 4;
  position: fixed;
  background-color: rgba(0,0,0,0);
}
/*未点击之前鼠标悬停的效果*/
.little_box_fei:hover,
.little_box_yu:hover,
.little_box_gang:hover,
.little_box_chuan:hover,
.little_box_jia:hover{
  transform: scale(1.1);
  z-index: 3;
  transition: all 0.3s ease;
  overflow:hidden;
}
/*每个人未点击之前的效果*/
.little_box_fei{
  margin-top: 1000px;
  background-color: #cbd3d6;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/1.png);
  background-size: cover;
}

.little_box_yu{
  margin-top: 2000px;
  background-color: #cbd3d6;
  margin-left: 20%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/2.png);
  background-size: cover;
}

.little_box_gang{
  margin-top: 3000px;
  background-color: #cbd3d6;
  margin-left: 40%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/3.png);
  background-size: cover;
}

.little_box_chuan{
  margin-top: 4000px;
  background-color: #cbd3d6;
  margin-left: 60%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/4.png);
  background-size: cover;
}

.little_box_jia{
  margin-top: 5000px;
  background-color: #cbd3d6;
  margin-left: 80%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/5.png);
  background-size: cover;
}

/*@media only screen and (min-width: 400px){
  .content{
    display: flex;
    flex-wrap: wrap;
  }
  .content:after,
  .content:before{
    content: " ";
    display: table;
  }

  .little_box_fei:after,
  .little_box_fei:before,
  .little_box_yu:after,
  .little_box_yu:before,
  .little_box_gang:after,
  .little_box_gang:before,
  .little_box_chuan:after,
  .little_box_chuan:before,
  .little_box_jia:after,
  .little_box_jia:before{
    content: " ";
    display: table;
  }

  .little_box_fei,
  .little_box_yu,
  .little_box_gang,
  .little_box_chuan,
  .little_box_jia{
    width: 100%;
    height: 30%;
    margin-left: 0;
  }
}
*/
/*每个人开场飞入的效果*/
.fei_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.yu_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.gang_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.chuan_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.jia_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}
/*每个人点击之后变成全屏的效果*/
.fei_transform{
  background-color: #198de8;
  filter: brightness(.5);
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.yu_transform{
  background-color: #e3d059;
  filter: brightness(.5);
  margin-left: 20%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.gang_transform{
  background-color: #c9544e;
  filter: brightness(.5);
  margin-left: 40%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.chuan_transform{
  background-color: #48bf52;
  filter: brightness(.5);
  margin-left: 60%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.jia_transform{
  background-color: #6f677c;
  filter: brightness(.5);
  margin-left: 80%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
/*每个人头像的样式*/
/*.head_icon{
  width: 50px;
  height: 50px;
  background-image: url(../img/fei.png);
  background-size: 100% auto;
  border-radius: 50%;
  background-color: purple;
  margin: 0 auto;
  margin-top: 200px;
}*/
/*测试的文字*/
/*.text{
  padding: 50px 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}*/
/*点击之后变成全屏之后的效果*/
.big_box_fei{
  background-color: black;
  display: inline-block;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.big_box_yu{
  background-color: black;
  display: inline-block;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.big_box_gang{
  background-color: black;
  display: inline-block;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.big_box_chuan{
  background-color: black;
  display: inline-block;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.big_box_jia{
  background-color: black;
  display: inline-block;
  position: absolute;
  z-index: 3;
  opacity: 1;
}

.fei_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
  opacity: 1;
}

.yu_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
  opacity: 1;
}

.gang_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
  opacity: 1;
}

.chuan_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
  opacity: 1;
}

.jia_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
  opacity: 1;
}
/*照片底部的名片卡*/
.footer_name{
  width: 10%;
  height: 0%;
  color: white;
  background-color: black;
  margin: 0 auto;
  margin-top: 200%;
  opacity: 0;
  transition: all 0.7s ease;
  border-radius: 50%;
  transform-origin:50% 100%;
  text-align: center;
  line-height: 100px;
}
/*鼠标悬停名片卡的出现效果*/
.footer_name_transform{
  width: 90%;
  height: 10%;
  border-radius: 10%;
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
}
/*点击之后去掉名片卡*/
.footer_name_disappear{
  display: none;
}
/*开头的名片*/
/*.onclick_before{
  opacity: 1;
  position: relative;
  transition: all 0.5s linear;
  display: none;
}

.onclick_after{
  opacity: 0;
}*/
/*个人内容填充的盒子*/
.personal_statement{
  opacity: 1;
  margin-top: 300%;
  font-weight: bold;
  font-size: 25px;
  color: #543210;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: relative;
}

.text{
  width: 200px;
  height: 200px;
  display: inline-block;
}
/*个人内容飞入的动画*/
@-webkit-keyframes imgAnimation{  
    0%{ margin-top: 300%;opacity:0; }  
    100%{ margin-top: 3.5%;opacity: 1;}  
 }

.imgAnimation{  
      animation-name: imgAnimation;
      animation: imgAnimation 1s alternate;
      margin-top: 3.5%;
 }
/*个人内容飞出的动画*/
@-webkit-keyframes fallbackAnimation{
  0%{ margin-top: 5%;opacity: 1; }  
    100%{ margin-top: 300%;opacity:0;}
}

.fallbackAnimation{
  animation-name: fallbackAnimation;
     animation: fallbackAnimation 1s alternate;
     margin-top: 300%;
     animation-fill-mode: forwards;
}
/*小叉叉按钮*/
.close_button{
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.7;
  z-index: 3;
}

.circle{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.close::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 70%;
  background-color: white;
  top: 45%;
  transform: rotate(45deg);
  left: 14%;
}

.close::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 70%;
  background-color: white;
  top: 45%;
  transform: rotate(-45deg);
  left: 14%;
}

.close:hover{
  transition: all 0.3s ease-in-out;
  transform: rotate(270deg);
  border: 4px solid white;
}

/*丁量川的个人内容*/
#dlc_box{
  width: 100%;
  height: 900px;
  background-color: black;
  text-align: center;
  display: none;
}

.dlc_gif{
  width: 234px;
  height: 157px;
  background-image: url(../img/dlc_gif.gif);
  margin:0 auto;
  margin-top: 5%;
}

#dlc_box span{
  display: inline-block;
  margin-top: 5%;
  font-size: 90px;
  color: white;
}

#dlc_box p{
  color: white;
}

.dlc_blog{
  margin-top: 5%;
}

section, section div {
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
}

section, .button {  
  transition-timing-function: ease; 
}

section {
  display: inline-block;
  position: relative;
  padding: .375rem .375rem 0;
  height: 2.5rem;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
}


.button { 
  opacity: 0;
}

.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  font: 22px/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.innie, .outie, .spine, .shadow { position: absolute; width: 100%; }

.innie, .outie {
  height: 100%;
  border-radius: .25rem;
}
.innie:after, 
.outie:after { content:"打开新世界的大门"; }

.innie {
  background-color: #67E2FE;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.spine {
  top: .25rem;
  background: #20C7F3;
  height: .25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  transform-origin: center top;
  transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;    
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;
}

.outie {
  background-color: #2EC8FA;
  transform: translateZ(.25rem);
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

section:hover { background: #EBEFF2; }
section:hover .button { opacity: 1; }

section:hover .cover, 
section:hover .innie, 
section:hover .spine, 
section:hover .outie, 
section:hover .spine { 
  transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }

section:hover .cover { 
    transform: rotateX(-120deg);  
}

section:hover .innie { background-color: #3ADAFC; }
section:hover .spine { background-color: #52B1E0; }
section:hover .outie { background-color: #2174A0; color: rgba(255,255,255,0); }
section:hover .shadow { 
      opacity: 1;
      transform: rotateX(45deg) scale(.95);
}

/*LG's Personal Content*/
#LG_box{
  background:#000000;
  display: none;
}


.buttonHolder{
 position: absolute;
  bottom: 20px;
  right: 20px;
}

.LG_button{
 float:left;
  height: 70px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 70px;      
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.LG_button:after{
  color:#e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.tick:after{
  content: "More";
  left:23px;
  top:16px;
}

.tick:hover:after{
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}

/*Jia's Personal Content*/
#Jia_box{
  display: none;
  position: absolute;
  top:0;
  left: 0;
}

.LG_BG {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.LG_Wrap {
  width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.LG{
  position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
.LG_List{
  width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}
.LG_Item{
  text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
  opacity: 0;
}
.LG_Current{
  opacity: 1;
}
.LG_Imgwrap{
  display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.LG_Wrap .LG_Imgwrap:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}
/*vertical-align: middle 是相对于左边的高度垂直居中*/
.LG_Imgwrap img{
  display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    height: 99% !important;
    width: auto !important;
}
.LG_Actions .LG_NextArrow, .LG_Actions .LG_PrevArrow {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
}
.LG_Actions .LG_PrevArrow {
    left: 20px;
}
.LG_Actions .LG_NextArrow {
    right: 20px;
}
.LG_Bar{
  z-index: 1082;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#LG_CloseBtn{
  color: #999;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 47px;
    line-height: 27px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none !important;
    outline: medium none;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.LG_Pre, .LG_Next, .LG_Current {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 1s ease 0s;
}

.LG_Next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.LG_Pre {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.LG_Current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*demo css*/
#LG {
    text-align: center; 
    margin-top: 20px;
}
#LG li{
    display: inline;
}
#LG li a img{
    width: 30%;
    height: auto;
}   


#Jia_box #LG img{
  opacity: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%));
  background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/*李宸宇的个人样式*/
#lcy_box{
  display: none;
}

#hero {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
#content{
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#content ul{
  padding: 0;
  margin: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8)
}
#content ul li{
  list-style: none;
  width: 25%;
  height: 300px;
  float: left;
}

#content ul li img{
  width: 100%;
  transition: all 0.3s linear;
}

#content ul li img:hover{
  filter: brightness(0.7);
}

.LCY_bg{
  background: url("../img/Yu_Image/lcy_big_photo.png");
  min-height: 1000px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
#hero, .layer {
  min-height: 800px;
}

.layer-1 {
  background-image: url(../img/Yu_Image/outside_photo.png);
  background-size: cover;
}

.layer-2 {
  background-image: url(../img/Yu_Image/inside_photo.png);
  background-size: cover;
}

.layer-3 {
  background-image: url(../img/Yu_Image/black_window.png);
  background-size: cover;
}

.layer-4 {
  background-image: url(../img/Yu_Image/word.png);
  background-size: cover;
}

/*Begin Animation*/
.content{
	/* display: none; */
  overflow: hidden;
	opacity: 0;
  background-color: black;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-moz-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
.loading_BG {
  font-family: Purista,sans-serif, arial;
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:6;
  background: black;
  color: #eaf7ff;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -40px;
}

.bg {
  padding: 30px 30px 30px 0;
  background: #306f99;
  -moz-animation: bg 1.5s linear infinite;
  -webkit-animation: bg 1.5s linear infinite;
  animation: bg 1.5s linear infinite;
  -moz-box-shadow: inset 0 0 45px 30px black;
  -webkit-box-shadow: inset 0 0 45px 30px black;
  box-shadow: inset 0 0 45px 30px black;
}

.loading {
  position: relative;
  text-align: right;
  text-shadow: 0 0 6px #bce4ff;
  height: 20px;
  width: 150px;
  font-size: 20px;
}
.loading span {
  display: block;
  position: absolute;
  right: 30px;
  height: 20px;
  width: 200px;
  line-height: 20px;
}
.loading span:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -21px;
  height: 20px;
  width: 16px;
  background: #eaf7ff;
  -moz-box-shadow: 0 0 15px #bce4ff;
  -webkit-box-shadow: 0 0 15px #bce4ff;
  box-shadow: 0 0 15px #bce4ff;
  -moz-animation: blink 3.4s infinite;
  -webkit-animation: blink 3.4s infinite;
  animation: blink 3.4s infinite;
}
.loading span.title {
  -moz-animation: title 3.4s linear infinite;
  -webkit-animation: title 3.4s linear infinite;
  animation: title 3.4s linear infinite;
}
.loading span.textNext {
  -moz-animation: title 3.4s linear 1.7s infinite;
  -webkit-animation: title 3.4s linear 1.7s infinite;
  animation: title 3.4s linear 1.7s infinite;
  opacity: 0;
}



.BeginAnimation{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  color: #fff;
  z-index:6;
}
.BeginAnimation video{
	height: 100%;
	width: 100%;
	object-fit:fill;/*小僵尸学到了吗？*/
}

/*媒体查询演示*/
@media screen and (max-width: 1000px) {
    body {
        width:1000px;
    }
}


/*帅逼飞的css*/

@keyframes btn_noise {
  0% {
    clip: rect(18rem, 50rem, 7rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
  }
  2.5% {
    clip: rect(24rem, 50rem, 12rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.025);
  }
  5% {
    clip: rect(25rem, 50rem, 22rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
  }
  7.5% {
    clip: rect(21rem, 50rem, 4rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.075);
  }
  10% {
    clip: rect(8rem, 50rem, 9rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  }
  12.5% {
    clip: rect(5rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.125);
  }
  15% {
    clip: rect(22rem, 50rem, 10rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  }
  17.5% {
    clip: rect(16rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.175);
  }
  20% {
    clip: rect(6rem, 50rem, 18rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }
  22.5% {
    clip: rect(14rem, 50rem, 21rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.225);
  }
  25% {
    clip: rect(16rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  27.5% {
    clip: rect(8rem, 50rem, 17rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.275);
  }
  30% {
    clip: rect(23rem, 50rem, 22rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }
  32.5% {
    clip: rect(7rem, 50rem, 4rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.325);
  }
  35% {
    clip: rect(3rem, 50rem, 19rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.35);
  }
  37.5% {
    clip: rect(20rem, 50rem, 21rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.375);
  }
  40% {
    clip: rect(7rem, 50rem, 12rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  }
  42.5% {
    clip: rect(24rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.425);
  }
  45% {
    clip: rect(11rem, 50rem, 15rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45);
  }
  47.5% {
    clip: rect(10rem, 50rem, 21rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.475);
  }
  50% {
    clip: rect(16rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  }
  52.5% {
    clip: rect(3rem, 50rem, 21rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.525);
  }
  55% {
    clip: rect(8rem, 50rem, 6rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55);
  }
  57.5% {
    clip: rect(6rem, 50rem, 12rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.575);
  }
  60% {
    clip: rect(19rem, 50rem, 2rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
  }
  62.5% {
    clip: rect(8rem, 50rem, 9rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.625);
  }
  65% {
    clip: rect(18rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.65);
  }
  67.5% {
    clip: rect(15rem, 50rem, 13rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.675);
  }
  70% {
    clip: rect(7rem, 50rem, 15rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  }
  72.5% {
    clip: rect(14rem, 50rem, 10rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.725);
  }
  75% {
    clip: rect(1rem, 50rem, 14rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
  }
  77.5% {
    clip: rect(17rem, 50rem, 17rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.775);
  }
  80% {
    clip: rect(18rem, 50rem, 2rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  82.5% {
    clip: rect(16rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.825);
  }
  85% {
    clip: rect(11rem, 50rem, 24rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.85);
  }
  87.5% {
    clip: rect(23rem, 50rem, 3rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.875);
  }
  90% {
    clip: rect(4rem, 50rem, 2rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
  }
  92.5% {
    clip: rect(15rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.925);
  }
  95% {
    clip: rect(20rem, 50rem, 5rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.95);
  }
  97.5% {
    clip: rect(20rem, 50rem, 22rem, -25rem);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.975);
  }
  100% {
    clip: rect(18rem, 50rem, 1rem, -25rem);
    box-shadow: 0 0 30px white;
  }
}
@keyframes btn_noise2 {
  0% {
    clip: rect(13rem, 50rem, 11rem, -25rem);
  }
  2.5% {
    clip: rect(19rem, 50rem, 10rem, -25rem);
  }
  5% {
    clip: rect(24rem, 50rem, 13rem, -25rem);
  }
  7.5% {
    clip: rect(12rem, 50rem, 19rem, -25rem);
  }
  10% {
    clip: rect(15rem, 50rem, 3rem, -25rem);
  }
  12.5% {
    clip: rect(11rem, 50rem, 2rem, -25rem);
  }
  15% {
    clip: rect(1rem, 50rem, 25rem, -25rem);
  }
  17.5% {
    clip: rect(19rem, 50rem, 12rem, -25rem);
  }
  20% {
    clip: rect(6rem, 50rem, 16rem, -25rem);
  }
  22.5% {
    clip: rect(3rem, 50rem, 7rem, -25rem);
  }
  25% {
    clip: rect(25rem, 50rem, 23rem, -25rem);
  }
  27.5% {
    clip: rect(17rem, 50rem, 18rem, -25rem);
  }
  30% {
    clip: rect(12rem, 50rem, 11rem, -25rem);
  }
  32.5% {
    clip: rect(1rem, 50rem, 21rem, -25rem);
  }
  35% {
    clip: rect(17rem, 50rem, 25rem, -25rem);
  }
  37.5% {
    clip: rect(6rem, 50rem, 22rem, -25rem);
  }
  40% {
    clip: rect(19rem, 50rem, 12rem, -25rem);
  }
  42.5% {
    clip: rect(12rem, 50rem, 12rem, -25rem);
  }
  45% {
    clip: rect(20rem, 50rem, 17rem, -25rem);
  }
  47.5% {
    clip: rect(16rem, 50rem, 13rem, -25rem);
  }
  50% {
    clip: rect(15rem, 50rem, 21rem, -25rem);
  }
  52.5% {
    clip: rect(16rem, 50rem, 25rem, -25rem);
  }
  55% {
    clip: rect(13rem, 50rem, 21rem, -25rem);
  }
  57.5% {
    clip: rect(17rem, 50rem, 8rem, -25rem);
  }
  60% {
    clip: rect(12rem, 50rem, 22rem, -25rem);
  }
  62.5% {
    clip: rect(6rem, 50rem, 7rem, -25rem);
  }
  65% {
    clip: rect(19rem, 50rem, 5rem, -25rem);
  }
  67.5% {
    clip: rect(3rem, 50rem, 19rem, -25rem);
  }
  70% {
    clip: rect(10rem, 50rem, 7rem, -25rem);
  }
  72.5% {
    clip: rect(24rem, 50rem, 7rem, -25rem);
  }
  75% {
    clip: rect(8rem, 50rem, 3rem, -25rem);
  }
  77.5% {
    clip: rect(14rem, 50rem, 11rem, -25rem);
  }
  80% {
    clip: rect(5rem, 50rem, 5rem, -25rem);
  }
  82.5% {
    clip: rect(19rem, 50rem, 15rem, -25rem);
  }
  85% {
    clip: rect(23rem, 50rem, 20rem, -25rem);
  }
  87.5% {
    clip: rect(8rem, 50rem, 2rem, -25rem);
  }
  90% {
    clip: rect(9rem, 50rem, 12rem, -25rem);
  }
  92.5% {
    clip: rect(2rem, 50rem, 12rem, -25rem);
  }
  95% {
    clip: rect(22rem, 50rem, 22rem, -25rem);
  }
  97.5% {
    clip: rect(8rem, 50rem, 22rem, -25rem);
  }
  100% {
    clip: rect(12rem, 50rem, 21rem, -25rem);
  }
}
@keyframes btn_ring {
  0% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
  }
  100% {
    box-shadow: inset 0 0 0 20px white, 0 0 30px white;
  }
}
.gif-1{
  position: absolute;
  bottom: 115px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-size: cover;
  display: none;
}
.gif-2{
  position: absolute;
  top: 60px;
  right: 20px;
  width: 200px;
  height: 200px;
  display: none;
  background-size: cover;
}
.gif-3{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: 200px;
  display: none;
  background-size: cover;
}
.gif-4{
  position: absolute;
  bottom: 115px;
  right: 20px;
  width: 200px;
  height: 200px;
  display: none;
  background-size: cover;
}
.gif-move{
  position: absolute;
  top: 50%;
  left: 20px;
  width: 200px;
  height: 200px;
  background-size: cover;
}
[class*=gif] img{
  width: 100%;
  height: 100%;
}
.btn {
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(1, 0, 0.5, -1) 0.25s, box-shadow 0.5s cubic-bezier(1, -5, 0.5, 5) 0.25s;
  transform: scale(0.5);
  animation: btn_noise 3s ease-in-out 1, btn_ring 1s ease-in-out 3s 1;
  box-shadow: inset 0 0 0 20px white, 0 0 30px white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 40rem;
  height: 40rem;
  position: absolute;
  cursor: pointer;
}
.btn::before, .btn::after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 42rem;
  height: 42rem;
  /*margin: -2rem -3rem -2rem -3rem;*/
  border-radius: 50%;
  z-index: -10;
}
.btn::before {
  box-shadow: 0 -15px 30px -15px rgba(255, 255, 255, 0.8), -25px 15px 50px -25px rgba(255, 255, 255, 0.2), 0 -25px 15px -20px rgba(255, 255, 255, 0.3);
}
.btn::after {
  box-shadow: 0 -25px 20px -15px rgba(255, 255, 255, 0.2), 10px 25px 15px -30px white, -10px 30px 20px -30px rgba(255, 255, 255, 0.3);
}

.btn-info {
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  background-image: repeating-radial-gradient(rgba(255, 255, 255, 0.2) 0, black 2px, black 50px);
  overflow: hidden;
  opacity: 0;
  background-size: 12.5rem 12.5rem;
  position: absolute;
  width: inherit;
  height: inherit;
}

.btn-button, .btn-button::after, .btn-button:active::after {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn-video{
  width: 34rem;
  height: 28rem;
  margin: auto;
}
.btn-line {
  transition: all 1s ease-in-out;
  margin:1.5rem 1rem 2.5rem;
  border-top: 1px solid white;
  width: 0;
}
.btn-copy {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.btn-author {
  transition: all 1s ease-in-out;
  text-shadow: 0 0 1px white;
  font-size: 1.8rem;
  font-family: 'Mrs Saint Delafield', cursive;
  opacity: 0;
  color: white;
  text-align: center;
}

.btn-copy {
  padding: 0 5rem;
  margin-bottom: 1.5rem;
}

.btn-button {
  transition: all 0.1s ease-in-out;
  font-style: normal;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  width: 5.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  display: block;
  position: relative;
}
.btn-button::before {
  transition: all 0.1s ease-in-out;
  content: "";
  opacity: 0;
  position: absolute;
  width: 5rem;
  padding: 0.5rem;
  top: 0%;
  left: 0%;
  height: 56%;
}
.btn-button::after {
  text-shadow: 0 0 1px white, 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;
  content: "Ready?";
  color: black;
  position: absolute;
  opacity: 0;
  top: 6%;
  left: 20%;
}

.btn-button:hover {
  width: 7rem;
}
.btn-button:hover::before {
  opacity: 1;
  animation: btn_stripe 0.5s infinite linear;
  background: linear-gradient(45deg, #ffffff 25%, #000000 25%, #000000 50%, #ffffff 50%, #ffffff 75%, #000000 75%, #000000);
  background-size: 30px 30px;
  width: 7rem;
}
.btn-button:hover::after {
  opacity: 1;
}

.btn-button:active {
  background-color: white;
}
.btn-button:active::before {
  opacity: 0;
}
.btn-button:active::after {
  text-shadow: 0 0 1px white, 0 1px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
  font-size: 1.5rem;
  content: "GO!";
  color: black;
  position: absolute;
  top: 0%;
  left: 20%;
}

@keyframes btn_stripe {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.btn:hover {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0), 0 0 30px white;
  transform: scale(1);
  transition-delay: 1.5s;
}
.btn:hover::before {
  animation: btn_spin 0.5s cubic-bezier(0.6, 0.2, 0, 0.8) infinite alternate, btn_fade 1.5s cubic-bezier(0.4, 0.2, 0.1, 0.7);
}
.btn:hover::after {
  animation: btn_spin 1s cubic-bezier(0.4, 0.2, 0.1, 0.7) 0.25s infinite alternate, btn_fade 1.5s cubic-bezier(0.4, 0.2, 0.1, 0.7);
}
.btn:hover .btn-info {
  transform: scale(1);
  transition-delay: 1.75s;
  animation: btn-bg_size 4s cubic-bezier(0.2, 0, 1, 0.5) infinite alternate, btn-bg_positon 3s ease-in-out infinite alternate;
  opacity: 1;
}
.btn:hover .btn-author {
  transition-delay: 2.25s;
  opacity: 1;
}
.btn:hover .btn-line {
  transition-delay: 1.75s;
  width: 44rem;
  margin: 1.5rem 3rem 1rem;
}

@keyframes btn_spin {
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}
@keyframes btn_fade {
  0% {
    opacity: 1;
  }
  40% {
    opacity: .2;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes btn-bg_size {
  100% {
    background-size: 2.5rem 2.5rem;
  }
}
@keyframes btn-bg_positon {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
}
.btn_ghost {
  animation: btn_ghost 0.3s ease-in-out 2 alternate;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.8s;
  opacity: 0;
}

.btn-h1 span {
  animation-delay: 0.05s;
}

.btn-h1 span > span {
  animation-delay: 0.1s;
}

.btn-h1 span > span > span {
  animation-delay: 0.15s;
}

.btn-h1 span > span > span > span {
  animation-delay: 0.2s;
}

.btn-h1 span > span > span > span > span {
  animation-delay: 0.25s;
}

.btn-h1 span > span > span > span > span > span {
  animation-delay: 0.3s;
}

.btn-h1 span > span > span > span > span > span > span {
  animation-delay: 0.35s;
}

.btn-h1 span > span > span > span > span > span > span > span {
  animation-delay: 0.4s;
}

@keyframes btn_ghost {
  100% {
    text-shadow: 5rem 0 20rem black;
  }
}
.btn_gone {
  transition: all 0.2s ease-in-out;
  transition-delay: 0s !important;
  transform: translateY(1rem) rotateX(90deg);
  opacity: 0 !important;
}

.btn_white {
  transition-delay: 0s !important;
  background: white !important;
}

.btn_shrink {
  transition: all 0.4s ease-in-out;
  transition-delay: 0.4s !important;
  background: white !important;
  transform: scale(0) !important;
  opacity: 0 !important;
}
/*word宇最牛逼的样式*/
