@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

html,body{
	height: 100%;
}

body{
	overflow:-scroll;
	overflow-y:hidden;
	overflow-x:hidden;
}

.content{
	height: 100%;
	width: 100%;
	position: relative;
	transition: all 0.1s linear;
	z-index: 1;
}

.little_box_jia:hover,
.little_box_chuan:hover,
.little_box_gang:hover,
.little_box_fei:hover,
.little_box_yu:hover{
	transform: scale(1.225);
	z-index: 99;
	/*overflow:hidden;*/
}

.little_box_jia{
	background-color: red;
	height: 100%;
	width: 20%;
	display: inline-block;
	position: absolute;
	transition: all 0.2s linear;
	z-index: 1;
}

.little_box_chuan{
	background-color: blue;
	margin-left: 20%;
	height: 100%;
	width: 20%;
	display: inline-block;
	position: absolute;
	transition: all 0.1s linear;
	z-index: 1;
}

.little_box_gang{
	background-color: green;
	margin-left: 40%;
	height: 100%;
	width: 20%;
	display: inline-block;
	position: absolute;
	transition: all 0.1s linear;
	z-index: 1;
}

.little_box_fei{
	background-color: pink;
	margin-left: 60%;
	height: 100%;
	width: 20%;
	display: inline-block;
	position: absolute;
	transition: all 0.1s linear;
	z-index: 1;
}

.little_box_yu{
	background-color: grey;
	margin-left: 80%;
	height: 100%;
	width: 20%;
	display: inline-block;
	position: absolute;
	transition: all 0.1s linear;
	z-index: 1;
}

.jia_transform{
	background-color: red;
	filter: brightness(.5);
	height: 100%;
	width: 20%;
	display: inline-block;
	
	transition: all 0.3s linear;
	z-index: 1;
}
.chaun_transform{
	background-color: blue;
	filter: brightness(.5);
	margin-left: 20%;
	height: 100%;
	width: 20%;
	display: inline-block;
	
	transition: all 0.3s linear;
	z-index: 1;
}
.gang_transform{
	background-color: green;
	filter: brightness(.5);
	margin-left: 40%;
	height: 100%;
	width: 20%;
	display: inline-block;
	
	transition: all 0.2s linear;
	z-index: 1;
}
.fei_transform{
	background-color: pink;
	filter: brightness(.5);
	margin-left: 60%;
	height: 100%;
	width: 20%;
	display: inline-block;
	
	transition: all 0.3s linear;
	z-index: 1;
}
.yu_transform{
	background-color: grey;
	filter: brightness(.5);
	margin-left: 80%;
	height: 100%;
	width: 20%;
	display: inline-block;
	
	transition: all 0.3s linear;
	z-index: 1;
}

.head_icon{
	width: 50px;
	height: 50px;
	background-image: url(../img/fei.png);
	background-size: 100% auto;
	border-radius: 50%;
	background-color: purple;
	margin: 0 auto;
	margin-top: 200px;
}

.text{
	padding: 50px 40px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}


/*Begin Animation*/
.content {
    display: none;
}
.content.show {
    display: block;
}
/* 覆盖页面 */
.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.pageload-overlay.show {
    visibility: visible;
}
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.pageload-overlay svg path {
    fill: #99dd36;
}
.pageload-overlay::after, .pageload-overlay::before {
    content: '';
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
    transition: opacity 0.15s, visibility 0s 0.15s;
}
.pageload-overlay::after {
    background: #6cc88a;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-animation: moveRight 0.6s linear infinite alternate;
    animation: moveRight 0.6s linear infinite alternate;
}
.pageload-overlay::before {
    background: #4fc3f7;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation: moveLeft 0.6s linear infinite alternate;
    animation: moveLeft 0.6s linear infinite alternate;
}
@-webkit-keyframes moveRight {
    to {
        -webkit-transform: translateX(20px);
    }
}
@keyframes moveRight {
    to {
        transform: translateX(20px);
    }
}
@-webkit-keyframes moveLeft {
    to {
        -webkit-transform: translateX(-20px);
    }
}
@keyframes moveLeft {
    to {
        transform: translateX(-20px);
    }
}
.pageload-loading.pageload-overlay::after, .pageload-loading.pageload-overlay::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

