@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}
a{text-decoration:none; color:#656565;}

/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

html,body{
  height: 100%;
}

body{
  overflow:-scroll;
  overflow-y:hidden;
  overflow-x:hidden;
}

.content{
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.1s linear;
  z-index: 1;
}

.big_head{
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 3;
  border-bottom: 2px solid white;
  background-color: rgba(0,0,0,0.1);
}

.big_head_icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/big_head_icon.png);
  background-size: 100% auto;
  margin: 10px auto;
}

.little_box_fei:hover,
.little_box_yu:hover,
.little_box_gang:hover,
.little_box_chuan:hover,
.little_box_jia:hover{
  transform: scale(1.1);
  z-index: 2;
  transition: all 0.3s ease;
  overflow:hidden;
}

.little_box_fei{
  margin-top: 1000px;
  background-color: #198de8;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/1.png);
  background-size: cover;
}

.little_box_yu{
  margin-top: 2000px;
  background-color: #e3d059;
  margin-left: 20%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/2.png);
  background-size: cover;
}

.little_box_gang{
  margin-top: 3000px;
  background-color: #c9544e;
  margin-left: 40%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/3.png);
  background-size: cover;
}

.little_box_chuan{
  margin-top: 4000px;
  background-color: #48bf52;
  margin-left: 60%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/4.png);
  background-size: cover;
}

.little_box_jia{
  margin-top: 5000px;
  background-color: #6f677c;
  margin-left: 80%;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
  background-image: url(../img/5.png);
  background-size: cover;
}

.fei_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.yu_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.gang_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.chuan_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.jia_flyin{
  transform: translateY(0);
  margin-top: 0;
  transition: all 2s ease ;
}

.fei_transform{
  background-color: #198de8;
  filter: brightness(.5);
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.yu_transform{
  background-color: #e3d059;
  filter: brightness(.5);
  margin-left: 20%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.gang_transform{
  background-color: #c9544e;
  filter: brightness(.5);
  margin-left: 40%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.chuan_transform{
  background-color: #48bf52;
  filter: brightness(.5);
  margin-left: 60%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}
.jia_transform{
  background-color: #6f677c;
  filter: brightness(.5);
  margin-left: 80%;
  filter:blur(3px);
  height: 100%;
  width: 20%;
  display: inline-block;
  transition: all 0.5s linear alternate;
  z-index: 1;
}

.head_icon{
  width: 50px;
  height: 50px;
  background-image: url(../img/fei.png);
  background-size: 100% auto;
  border-radius: 50%;
  background-color: purple;
  margin: 0 auto;
  margin-top: 200px;
}

.text{
  padding: 50px 40px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.big_box_fei{
  background-color: #198de8;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.big_box_yu{
  background-color: #e3d059;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.big_box_gang{
  background-color: #c9544e;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.big_box_chuan{
  background-color: #48bf52;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.big_box_jia{
  background-color: #6f677c;
  display: inline-block;
  position: absolute;
  z-index: 99;
}

.fei_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
}

.yu_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
}

.gang_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
}

.chuan_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
}

.jia_block{
  width: 100%;
  height: 100%;
  transition: all 0.7s linear;
}

/*.footer_gang{
  opacity: 0;
  width: 100%;
  height: 10%;
  margin: 0 auto;
  
  margin-top: 200%;
  background-color: white;
  transition: all 0.7s linear;
  bottom: 0;
}

.footer_gang:hover{
  width: 100%;
  height: 10%;
  background-color: white;
  font-size: bold;
  margin: 0 auto;
  margin-top: 200%;
  opacity: 1;
  background-size: 100% 10%;
}
*/




.onclick_before{
  opacity: 1;
  position: relative;
  transition: all 0.5s linear;
  display: none;
}

.onclick_after{
  opacity: 0;
}

.onclick_display_none{
  display: none;
}

.personal_statement{
  opacity: 1;
  /*padding-left: 50%;*/
  margin-top: 300%;
  font-weight: bold;
  font-size: 25px;
  color: #543210;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: relative;
}

.text{
  width: 200px;
  height: 200px;
  display: inline-block;
}

@-webkit-keyframes imgAnimation{  
    0%{ margin-top: 300%;opacity:0; }  
    /*50%{margin-top: 10%;opacity: .5;}*/
    100%{ margin-top: 5%;opacity: 1;}  
 }

.imgAnimation{  
      animation-name: imgAnimation;
      animation: imgAnimation 1s alternate;
      margin-top: 5%;
 }

@-webkit-keyframes fallbackAnimation{
  0%{ margin-top: 5%;opacity: 1; }  
    /*50%{margin-top: 10%;opacity: .5;}*/
    100%{ margin-top: 300%;opacity:0;}
}

.fallbackAnimation{
  animation-name: fallbackAnimation;
     animation: fallbackAnimation 1s alternate;
     margin-top: 300%;
     /*animation-fill-mode: forwards;*/
}
/*小叉叉按钮*/
.close_button{
  position: absolute;
  top: 20px;
  right: 20px;
}

.circle{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #1EBCC5;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.close::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 70%;
  background-color: orange;
  top: 45%;
  transform: rotate(45deg);
  left: 14%;
}

.close::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 70%;
  background-color: orange;
  top: 45%;
  transform: rotate(-45deg);
  left: 14%;
}

.close:hover{
  transition: all 0.3s ease-in-out;
  transform: rotate(270deg);
  border: 4px solid #1EBCC5;
}


/*Begin Animation*/
.content{
	/* display: none; */
	opacity: 0;
  background-color: black;
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-moz-keyframes title {
  0% {
    opacity: 0;
    right: 130px;
  }
  48% {
    opacity: 0;
    right: 130px;
  }
  52% {
    opacity: 1;
    right: 30px;
  }
  70% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 30px;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-moz-keyframes bg {
  0% {
    background-color: #306f99;
  }
  50% {
    background-color: #19470f;
  }
  90% {
    background-color: #734a10;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    right: -21px;
  }
  45% {
    opacity: 1;
    right: 80px;
  }
  50% {
    opacity: 0;
    right: -21px;
  }
  51% {
    right: -21px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    right: -21px;
  }
  95% {
    opacity: 1;
    right: 80px;
  }
  96% {
    right: -21px;
  }
  100% {
    opacity: 0;
    right: -21px;
  }
}
.loading_BG {
  font-family: Purista,sans-serif, arial;
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:11;
  background: black;
  color: #eaf7ff;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -40px;
}

.bg {
  padding: 30px 30px 30px 0;
  background: #306f99;
  -moz-animation: bg 1.5s linear infinite;
  -webkit-animation: bg 1.5s linear infinite;
  animation: bg 1.5s linear infinite;
  -moz-box-shadow: inset 0 0 45px 30px black;
  -webkit-box-shadow: inset 0 0 45px 30px black;
  box-shadow: inset 0 0 45px 30px black;
}

.loading {
  position: relative;
  text-align: right;
  text-shadow: 0 0 6px #bce4ff;
  height: 20px;
  width: 150px;
  font-size: 20px;
}
.loading span {
  display: block;
  position: absolute;
  right: 30px;
  height: 20px;
  width: 200px;
  line-height: 20px;
}
.loading span:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -21px;
  height: 20px;
  width: 16px;
  background: #eaf7ff;
  -moz-box-shadow: 0 0 15px #bce4ff;
  -webkit-box-shadow: 0 0 15px #bce4ff;
  box-shadow: 0 0 15px #bce4ff;
  -moz-animation: blink 3.4s infinite;
  -webkit-animation: blink 3.4s infinite;
  animation: blink 3.4s infinite;
}
.loading span.title {
  -moz-animation: title 3.4s linear infinite;
  -webkit-animation: title 3.4s linear infinite;
  animation: title 3.4s linear infinite;
}
.loading span.textNext {
  -moz-animation: title 3.4s linear 1.7s infinite;
  -webkit-animation: title 3.4s linear 1.7s infinite;
  animation: title 3.4s linear 1.7s infinite;
  opacity: 0;
}



.BeginAnimation{
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  color: #fff;
  z-index:11;
}
.BeginAnimation video{
	height: 100%;
	width: 100%;
	object-fit:fill;/*小僵尸学到了吗？*/
}

/*媒体查询演示*/
@media screen and (max-width: 1000px) {
    body {
        width:1000px;
    }
}
